$navBg: #0d0d0d;
$mainBg: #8f8e92;
$navFontColor: #e6b800;


* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  .App {
    height: 100vh;
    header {
      height: 10vh;
      background-color: $navBg;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;
      color: $navFontColor;
      padding: 0 10px;
      a {
        color: $navFontColor;
        text-decoration: none;
      }
    }
    .empty {
      height: 50%;
      display: flex;
      justify-content: center;
      border: none;      
      img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }
    .notification {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 100;
      background: aliceblue;
      color: black;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      img {
        height: 30px;
        margin-right: 5px;
        border-radius: 5px;
      }
    }
    form {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      background-color: #DCDCDC;
      input {
        width: 40%;
        height: 30px;
        border-radius: 20px 0 0 20px;
        text-align: center;
      }
      button {
        height: 30px;
        width: 10%;
        border-radius: 0 20px 20px 0;
        color: #A52A2A;
        border: 1px solid $mainBg
      }
    }
    .todo, .done {
      background-color: $mainBg;
      height: 60%;
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: space-between;
        border: 2.5px solid $navFontColor;
        border-radius: 10px;
        width: 50%;
        align-self: center;
        text-align: center;
        margin: 4px;
        background-color: #DCDCDC;
        padding: 0 5px;
        font-size: 1.3rem;
        .btn {
          border-radius: 8px;
          background: $navFontColor;
          font-size: 1.3rem;
          margin: 5px;
          border: 1.5px solid $navBg;
          font-size: 2rem;
          width: 10%;
        }
      }
      h4 {
        text-align: center;
        font-size: 2rem;
      }
    }
  }
}